<!DOCTYPE html>
<html>
  <head>
    <title>My E-Commerce Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    
    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>

  <body>
    <!-- Navigation Header Partial (Feature 4.1.4 ✯) -->
    <%= render 'shared/header' %>
    
    <!-- Flash Messages Partial (Feature 4.1.4 ✯) -->
    <%= render 'shared/flash_messages' %>
    
    <!-- Main Content -->
    <main class="container my-4">
      <%= yield %>
    </main>
    
    <!-- Footer Partial (Feature 4.1.4 ✯) -->
    <%= render 'shared/footer' %>
  </body>
</html>